<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Sets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <a href="/">Home</a> | <a href="/skills">Skill Set</a> 
  <h1>And these are the OS and Tools I've used to program using this Language!</h1>
    <ul>
      <h2><strong><%= skill.os %></strong></h2>
      and
      <h2><strong><%= skill.tools %></strong>!</h2>
    </ul>
</body>
</html>